<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Administrator Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../style/style-admin.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
</head>

<body>
<div id="login-base">
<div id="logo_box-small"><img src="../style/izzy-care.org.png" class="logo-small" alt="izzy" /></div>
<h1 class="heading">Admin Login</h1>
<form action="." method="POST">
    {% if form.non_field_errors %}
    <ul class="error-list">
        {% for err in form.non_field_errors %}
        <li>{{ err }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if form.username.errors %}
    <ul class="error-list">
        {% for err in form.username.errors %}
        <li>{{ err }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <input type="text" class="input" placeholder="E-mail" id="email" name="username" value="{% if form.username.data != None %}{{ form.username.value }}{% endif %}">
    {% if form.password.errors %}
    <ul class="error-list">
        {% for err in form.password.errors %}
        <li>{{ err }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <input type="password" class="input" placeholder="Password" id="password" name="password" value="{% if form.password.data != None %}{{ form.password.data }}{% endif %}">
    {% csrf_token %}
    <input class="input-btn" type="submit" name="Login">
    <p class="address-text2">Powered By: <a class="address_link" href="http://shahrukhsheikh.in" target="_blank">Cybergears</a></p>
</form>
</div>
</body>
</html>