*{
	margin:0px;
	padding:0px;
}
@font-face {
	font-family: MonstrateLight;
	src:url(fonts/Montserrat-Light.otf);
}
@font-face {
	font-family: MonstrateRegular;
	src: url(fonts/Montserrat-Regular.otf);
}
@font-face {
	font-family: MonstrateMedium;
	src: url(fonts/Montserrat-Medium.otf);
}
@font-face {
	font-family: MonstrateBold;
	src: url(fonts/Montserrat-Bold.otf);
}

/****  for Smal Devices ****/

body{
	background-color:#252d47;
}

#login-base{
	width:270px;
	height:450px;
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
#logo_box-small{
	width:100px;
	height:100px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
		

}
.logo-small{
	width:100px;
	height:50px;
}

.heading{
	font-family: "MonstrateBold";
	font-size:18px;
	color:#fff;
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
}

.input{
	width:230px;
	height:auto;
	padding:10px 20px;
	box-sizing:border-box;
	border:solid thin white;
	margin:10px 20px;
}

.input-btn{
	width:230px;
	height:auto;
	padding:10px 20px;
	box-sizing:border-box;
	border:solid thin #5775aa;
	margin:10px 20px;
	background-color:#5775aa;
	color:#FFF;
	font-family: "MonstrateBold";
	font-size:12px;
	cursor:pointer;
}

.input-btn:hover{
	border:solid thin #5775aa;
	margin:10px 20px;
	background-color:#0e1d23;
	color:#FFF;
	transition:0.4s;
}
.address-text1{
	font-family: "MonstrateMedium";
	font-size:12px;
	color:#fff;
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
}
.address_link{
	color:#3659A2;
	text-decoration:none;
}
.address_link:hover{
	color:#3659A2;
	text-decoration:underline;
}
.address-text2{
	font-family: "MonstrateMedium";
	font-size:12px;
	color:#fff;
	padding-bottom:20px;
	text-align:center;
}