
@font-face {
	font-family: MonstrateLight;
	src:url(fonts/Montserrat-Light.otf);
}
@font-face {
	font-family: MonstrateRegular;
	src: url(fonts/Montserrat-Regular.otf);
}
@font-face {
	font-family: MonstrateMedium;
	src: url(fonts/Montserrat-Medium.otf);
}
@font-face {
	font-family: MonstrateBold;
	src: url(fonts/Montserrat-Bold.otf);
}

/****  for Smal Devices ****/



#header-on-the-top-small{
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e1d23;
	display:none;
}



#header_main-small{
	width: 275px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e212a;
	display:none;
}
#logo_box-small{
	width:100px;
	height:100px;
	margin-left:auto;
	margin-right:auto;
	display:none;
		

}
.logo-small{
	width:100px;
	height:100px;
}
#header_text_box-small{
	width:275px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
	display:none;
}
.header_text1-small{
	font-family: "MonstrateMedium";
	font-size:24px;
	color:#FFF;
	text-align:left;
	padding-top:10px;
	display:none;
	
}
.header_text1-bold-small{
	font-family: "MonstrateBold";
	font-size:24px;
	color:#FFF;
	text-align:left;
	padding-top:10px;
	display:none;
	
}
.header_text2-small{
	font-family: "MonstrateLight";
	font-size:16px;
	color:#FFF;
	text-align:left;
	padding-top:7px;
	display:none;
}
.header_text2-link-small{
	font-family: "MonstrateLight";
	font-size:16px;
	color:#FFF;
	padding-top:7px;
	cursor:pointer;
	text-decoration:none;
	display:none;
}
.header_text2-link-small:hover{
	transition:2s;
	text-decoration:underline;
	
}






/****  for Smal Devices end ****/
#header-on-the-top{
	min-width: 1200px;
	max-width: 1920px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e1d23;
	position: relative;
}
#header-on-the-top2{
	min-width: 1200px;
	max-width: 1920px;
	height: 280px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e1d23;
	background-image:url(district-chamba-header-image-chambapolice.co.in.jpg);
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center top;
}

#header-on-the-top3{
	min-width: 1200px;
	max-width: 1920px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e212a;
	
}
#header_main{
	width: 1200px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e212a;
}
#logo_box{
	width:200px;
	height:200px;
	float:left;
	position: absolute;
	bottom:0px;
		

}
.logo{
	width:180px;
	height:180px;
	margin-top:15px;
	margin-left:10px;
}
#header_text_box{
	width:900px;
	height:80px;
	float:right;
	overflow:auto;
}
.header_text1{
	font-family: "MonstrateMedium";
	font-size:24px;
	color:#FFF;
	text-align:left;
	padding-top:10px;
	
}
.header_text1-bold{
	font-family: "MonstrateBold";
	font-size:24px;
	color:#FFF;
	text-align:left;
	padding-top:10px;
	
}
.header_text2{
	font-family: "MonstrateLight";
	font-size:16px;
	color:#FFF;
	text-align:left;
	padding-top:7px;
	margin-left:50px;
	
}
.header_text2-link{
	font-family: "MonstrateLight";
	font-size:16px;
	color:#FFF;
	padding-top:7px;
	cursor:pointer;
	text-decoration:none;
	
}
.header_text2-link:hover{
	transition:2s;
	text-decoration:underline;
	
}


/***navication top small ***/


#navication-top-small{
	width: 250px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e1d23;
	display:none;
}
#navication-small{
	width: 250px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e1d23;
	
}
.nav-link{
	color:#FFF;
	text-decoration:none;
	cursor:pointer;
}

.navbox-small{
	float:left;
	width:auto;
	height:auto;
	background-color:#5775aa;
    display: inline-block;
	
}
.navbox-small:hover{
	
	background-color:#0e1d23;
	transition:0.2s;
}
.navbox2-small{
	float:left;
	width:100%;
	height:auto;
	background-color:#0e1d23;
	border-bottom:solid thin #FFF;
	display:inline-block;
	clear:both;
	
}
.navbox2-small:hover{
	background-color:#5775aa;
	
	transition:0.2s;
}
.nav_text-small{
	font-family: "MonstrateRegular";
	font-size:16px;
	color:#FFF;
	padding:10px 20px;
}
.dropdown-content-small {
    display: none;
    position: absolute;
    background-color: #5775aa;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
	
	
}
.navbox-small:hover .dropdown-content-small {
    display: block;
	background-color:#0e1d23;
	transition:0.2s;
	
}




/*** navication top small end*****/





/********** navication ***********/
#navication-top{
	min-width: 1200px;
	max-width: 1920px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e1d23;
	display:block;
}
#navication{
	width: 1200px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e1d23;
	
}
.nav-link{
	color:#FFF;
	text-decoration:none;
	cursor:pointer;
}

.navbox{
	float:left;
	width:auto;
	height:auto;
	background-color:#5775aa;
	border-right:solid thin #FFF;
	
    display: inline-block;
	
}
.navbox:hover{
	
	background-color:#0e1d23;
	transition:0.2s;
}
.navbox2{
	float:left;
	width:100%;
	height:auto;
	background-color:#0e1d23;
	border-bottom:solid thin #FFF;
	display:inline-block;
	clear:both;
	
}
.navbox2:hover{
	background-color:#5775aa;
	
	transition:0.2s;
}
.nav_text{
	font-family: "MonstrateRegular";
	font-size:16px;
	color:#FFF;
	padding:10px 20px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #5775aa;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
	
	
}
.navbox:hover .dropdown-content {
    display: block;
	background-color:#0e1d23;
	transition:0.2s;
	
}
/********** body ***********/

#body{
	width:1200px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
	
}
.left{
	float:left;
	width:800px;
	height:auto;
	overflow: auto;
	
	
}
#rti{
	float:left;
	width:100%;
	height:auto;
	overflow: auto;
	margin-top: 50px;
	
}
.pdf-rti {
	position: relative;
	top: 10%;
	left: 0%;
	right: 0%;
	bottom: 10%;
	width: 100%;
	height: 500px;
}

/************** Search********/
.search{
	float:left;
	width:100%;
	height:auto;
	overflow: auto;
	
	
}
.search-img-div{
	float:left;
	width:150px;
	height:230px;
	overflow: hidden;
	border:solid thin #0e1d23;
	border-radius:10px;
	margin:10px 20px;
	
}
.search-img-thumb{
	width:125px;
	height:130px;
	overflow: auto;
	border-radius:10px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(default-pic.png);
	background-repeat:no-repeat;
	background-size:contain;
	
}
.search-img-thumb-main{
	width:100%;
	height:auto;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}
.search-img-name{
	font-family: "MonstrateMedium";
	font-size:16px;
	color:#0e1d23;
	text-align:center;
	padding-bottom:10px;
}
.search-img-link{
	text-decoration:none;
	cursor:pointer;
	
}
/************** online Reporting********/
.onlineReporting{
	float:left;
	width:100%;
	height:auto;
	overflow: auto;
	
}

.onlineReporting-heading{
	font-family: "MonstrateMedium";
	font-size:16px;
	color:#5775aa;
	padding:10px 0px;
	margin-top:10px;
	float: left;
	clear: both;
}
.onlineReporting-hr{
	width: 80%;
	height: auto;
	color:#5775aa;
	padding:0px 0px;
	margin-top:10px;
	float: left;
	clear: both;
}

.onlineReporting-subheading{
	font-family: "MonstrateRegular";
	font-size:14px;
	color:#0e1d23;
	padding:10px 0px;
	margin-top:10px;
	float: left;
	clear: both;
}
.onlineReporting-input{
	width: 200px;
	height: auto;
	padding: 10px 20px;
	border: solid thin black;
	border-radius: 4px;
	float: left;
	clear: both;
}
.onlineReporting-input-textarea{
	min-width: 60%;
	min-height: 100px;
	max-width: 60%;
	max-height: 100px;
	padding: 10px 20px;
	border: solid thin black;
	border-radius: 4px;
	float: left;
	clear: both;
}
.onlineReporting-input-submit{
	width: auto;
	height: auto;
	font-family: "MonstrateBold";
	font-size:14px;
	color:#FFF;
	background-color: #0e1d23;
	padding: 10px 20px;
	border: solid thin #0e1d23;
	border-radius: 4px;
	float: left;
	clear: both;
	cursor: pointer;
	margin-top: 20px;
}
.onlineReporting-input-submit:hover{
	
	color:#0e1d23;
	background-color: #FFF;
	border: solid thin #0e1d23;
	transition: 0.2s;
	
}
.error{
	text-align: center;
	font-family: "MonstrateBold";
	font-size:32px;
	color:#0e1d23;
	opacity: 0.5;
	padding-top: 100px;
}

/************** mact********/
.mact{
	float:left;
	width:100%;
	height:auto;
	overflow: auto;
	
}
.mact-heading-big{
	text-align: center;
	font-family: "MonstrateBold";
	font-size:100px;
	color:#0e1d23;
	opacity: 0.8;
	padding-top: 50px;
}
.mact-heading-big2{
	text-align: center;
	font-family: "MonstrateBold";
	font-size:40px;
	color:#0e1d23;
	opacity: 0.5;
	padding-top: 10px;
}
.mact-heading-big3{
	text-align: center;
	font-family: "MonstrateLight";
	font-size:15px;
	color:#0e1d23;
	opacity: 0.5;
	padding-top: 10px;
}
#search_div1{
	width: 60%;
	height: auto;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
}
.note{
	text-align: center;
	font-family: "MonstrateMedium";
	font-size:12px;
	color:#0e1d23;
	opacity: 0.5;
	padding-top: 10px;
}
.input-search1{
	width: 100%;
	height: auto;
	padding: 10px 20px;
	box-sizing: border-box;
	border: solid thin black;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 2px;
}
.input-search-btn{
	width: auto;
	height: auto;
	padding: 10px 20px;
	box-sizing: border-box;
	border: solid thin #0e1d23;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 2px;
	font-family: "MonstrateBold";
	font-size:14px;
	color:#FFF;
	background-color: #0e1d23;
	position: relative;
	cursor: pointer;
	
}
.input-search-btn:hover{
	
	border: solid thin #0e1d23;
	color:#0e1d23;
	background-color: #FFF;
	transition: 0.2s;
	
}
.firbox{
	width: 80%;
	height: auto;
	overflow: auto;
	border-bottom:  thin dashed #0e1d23;
	margin-top: 20px;
	margin-bottom: 20px;
}
.fir_heading{
	font-family: "MonstrateBold";
	font-size:18px;
	color:#0e1d23;
	/* color:#5775aa; */
	float: left;
	clear: both;
	
}
.fir_sub_heading{
	font-family: "MonstrateMedium";
	font-size:14px;
	color:#0e1d23;
	/* color:#5775aa; */
	clear: both;
	float: left;
	padding-top: 5px;
	padding-bottom: 10px;
}
.fir_download_links{
	font-family: "MonstrateMedium";
	font-size:14px;
	
	 color:#5775aa; 
	float: left;
	
	padding-top: 5px;
	padding-bottom: 10px;
	text-decoration: underline;
	cursor: pointer;
	margin-left: 10px;
}
.fir_download_links:hover{

	text-decoration: none;
}
.fir-upload-date{
	font-family: "MonstrateMedium";
	font-size:14px;
	color:#0e1d23;
	/* color:#5775aa; */
	opacity: 0.5;
	clear: both;
	float: right;
	padding-top: 5px;
	padding-bottom: 10px;
}
.right{
	float:right;
	width:350px;
	height:auto;
	
}
#slider{
	float:left;
	width:800px;
	height:400px;
	margin-top:50px;
	margin-bottom:50px;
	background:url(map.jpg);
	background-repeat:no-repeat;
}
#notice{
	float:right;
	width:350px;
	height:auto;
	margin-top:50px;
	margin-bottom:50px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    background-color:#0e1d23;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.3s;
	color:#FFF;
	font-family: "MonstrateRegular";
	font-size:16px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #5775aa;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #5775aa;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
	overflow:auto;
}
/* Style the tab */
.tab1 {
    overflow: hidden;
    background-color:#0e1d23;
}

/* Style the buttons inside the tab */
.tab1 button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.3s;
	color:#FFF;
	font-family: "MonstrateRegular";
	font-size:16px;
}

/* Change background color of buttons on hover */
.tab1 button:hover {
    background-color: #5775aa;
}

/* Create an active/current tablink class */
.tab1 button.active {
    background-color: #5775aa;
}

/* Style the tab content */
.tabcontent1 {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
	overflow:auto;
}
/************************ Heading   ************/

.heading-box{
	width:auto;
	height:auto;
	overflow:auto;
	clear:both;
	float:left;
	
}
.heading-box1{
	width:100%;
	height:auto;
	overflow:auto;
	clear:both;
	float:left;
	
}

.heading{
	font-family: "MonstrateRegular";
	font-size:16px;
	color:#FFF;
	padding:10px 20px;
	 background-color: #5775aa;
	 margin-top:50px;
}
.heading-box-details{
	width:100%;
	height:auto;
	overflow:auto;
	clear:both;
	float:left;
	
}
.heading-details{
	font-family: "MonstrateRegular";
	font-size:16px;
	color:#FFF;
	padding:10px 20px;
	 background-color: #5775aa;
	 margin-top:0px;
}
.important_info{
	width:100%;
	height:auto;
	
	overflow:auto;
}
.important_info-text1{
	font-family: "MonstrateRegular";
	font-size:14px;
	color:#2F2F2F;
	padding:10px 20px;
	font-weight:bold;
	float:left;
	display:inline-block;
	clear:both;
}
.important_info-text2{
	font-family: "MonstrateLight";
}
.left_body_text_base{
	width:100%;
	height:auto;
	overflow:auto;
	 margin-top:50px;
}
.left_body_text_base-text1{
	font-family: "MonstrateLight";
	font-size:14px;
	color:#2F2F2F;
	padding:10px 20px;
	float:left;
	display:inline-block;
	clear:both;
	text-align:justify;
}
#missing-person-box{
	width:800px;
	height:auto;
	float:left;
	overflow:auto;
}
.pic_thumb_base{
	width:130px;
	height:200px;
	border:solid thin #979797;
	float:left;
	margin-left:10px;
	margin-right:10px;
	border-radius:10px;
	margin-top:10px;
	margin-bottom:10px;
	overflow:hidden;
}
.pic_thumb{
	width:100px;
	height:120px;
	margin-left:auto;
	margin-right:auto;
	border-radius:10px;
	margin-top:10px;
	margin-bottom:10px;
}
.pic_thumb_main{
	width:100px;
	height:120px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}
.pic_thumb_text{
	font-family: "MonstrateMedium";
	font-size:14px;
	color:#2F2F2F;
	text-align:center;

	padding-bottom:10px;
}

.details {
	position: relative;
	top: 5%;
	left: 10%;
	bottom: 10%;
	right: 10%;
	width: 80%;
	height: 60%;
	border:solid 1px #000000;
	background:#FFF;
	overflow-x: hidden;
	overflow-y: scroll;
}
.details_thumb{
	width:100px;
	height:120px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	margin-left:20px;
	margin-right:20px;
}
.details_thumb_text_heading{
	font-family: "MonstrateMedium";
	font-size:14px;
	color:#2F2F2F;
	text-align:left;
	padding-bottom:10px;
	padding-top:10px;
	font-weight:bold;
	padding-left:20px;
	padding-right:20px;
	border-bottom: dashed thin #C0C0C0;
}
.details_thumb_text{
	font-family: "MonstrateLight";
	font-size:14px;
	color:#2F2F2F;
	text-align:left;
	padding-bottom:10px;
	
}
#overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
	cursor: pointer;
	
}
#close{
	font-family: "MonstrateRegular";
	font-size:20px;
	color:#772E2F;
	text-align:right;
	position:relative;
	bottom:35px;
	left:0px;
	padding-right:10px;
}
.shakti{
	float:left;
	width:20px;
	height:20px;
}
.shaktibutton{
	font-family: "MonstrateRegular";
	font-size:16px;
	color:#FFF;
	padding:10px 20px;
	 background-color: #5775aa;
	 margin-top:50px;
	 text-decoration:none;
	 float:right;
	 
}
/****************News and Press release*******************/
.newsBox{
	width:100%;
	height:auto;
	overflow:auto;
	float:left;
	 border-bottom:dashed thin #8B8B8B;
}
.newsHeading{
	font-family: "MonstrateMedium";
	font-size:16px;
	color:#2F2F2F;
	padding:2px 5px;
	 text-decoration:none;
	 font-weight:bold;
	 clear:both;
	 float:left;
	 
}
.newsText{
	font-family: "MonstrateRegular";
	font-size:16px;
	color:#2F2F2F;
	padding:2px 5px;
	 text-decoration:none;
	 clear:both;
	 float:left;
	 
}
.newsTime{
	font-family: "MonstrateLight";
	font-size:12px;
	color:#B4B4B4;
	padding:2px 5px;
	 text-decoration:none;
	 clear:both;
	 float:right;
	
}

/****************footer*******************/
#footer_base{
	min-width: 1200px;
	max-width: 1920px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e1d23;
	margin-top:50px;
	
}
#footer{
	width: 1200px;
	height:auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e1d23;
	
	
	
}
#footer-left{
	width:350px;
	height:auto;
	float:left;
	display:inline-block;
	overflow:auto;
}

#footer-center{
	width:350px;
	height:auto;
	margin-left:auto !important;
	margin-right:auto !important;
	overflow:auto;
}
#footer-right{
	width:350px;
	height:auto;
	float:right;
	display:inline-block;
	overflow:auto;
}
.footer_text1{
	font-family: "MonstrateLight";
	font-size:24px;
	color:#FFF;
	text-align:left;
	margin-top:30px;
	margin-bottom:20px;
	display:block;
	
}
.footer_text1-bold{
	font-family: "MonstrateMedium";
	font-size:24px;
	color:#FFF;
	text-align:left;
	margin-top:30px;
	margin-bottom:20px;

}
.footer_info-text1{
	font-family: "MonstrateRegular";
	font-size:18px;
	color:#fff;
	padding:5px 2px;
	font-weight:bold;
	float:left;
	display:inline-block;
	clear:both;
}
.footer_info-text2{
	font-family: "MonstrateLight";
	width:290px;
	height:auto;
	font-size:14px;
	float:left;
	color:#fff;
	padding:5px 2px; margin-left:10px;
}
.social_icons{
	float:left;
	margin-right:20px;
	font-size:36px;
	color:#fff;
	margin-bottom:20px;
	text-decoration:none;
	cursor:pointer;

}
.externalLinks{
	font-family: "MonstrateLight";
	float:left;
	font-size:14px;
	color:#fff;
	margin-bottom:10px;
	text-decoration:none;
	cursor:pointer;

}
.externalLinks:hover{
	transition:0.5s;
	text-decoration:underline;
	

}
.appstorelink{
	text-decoration:none;
}
.appstoreimage{
	width:180px;
	height:50px;
	float:left;
	cursor:pointer;
	clear:both;
	margin-bottom:40px;
	border:solid thin #fff;
	border-radius:10px;
}
.footer_gallery{
	float:left;
	width:276px;
	height:auto;
	border:solid thin #fff;
	margin-bottom:20px;
}
.gallery_image_thumb{
	float:left;
	width:90px;
	height:90px;
	border:solid thin #fff;
}
.newsletter-box{
	width:300px;
	height:auto;
	float:left;
	margin-bottom:30px;
}
.newsletter{
	font-family: "MonstrateMedium";
	font-size:12px;
	width:130px;
	height:auto;
	padding:10px 20px;
	border:solid thin #fff;
	border-radius:5px;
	color:#454545;
	float:left;
}
.newsletter-push{
	font-family: "MonstrateMedium";
	font-size:12px;
	width:auto;
	height:auto;
	padding:10px 20px;
	border:solid thin #5775aa;
	border-radius:5px;
	color:#fff;
	float:right;
	background-color:#5775aa;
	cursor:pointer;
}
.newsletter-push:hover{
	border:solid thin #5775aa;
	color:#fff;
	background-color:#0e1d23;
	transition:0.5s;
}
#address-bar{
	min-width: 1200px;
	max-width: 1920px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e212a;
}
.address-main{
	width: 1200px;

	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e212a;
}
.address-text1{
	font-family: "MonstrateMedium";
	font-size:12px;
	color:#fff;
	padding-top:20px;
	padding-bottom:20px;
	float:left;
}
.address_link{
	color:#3659A2;
	text-decoration:none;
}
.address_link:hover{
	color:#3659A2;
	text-decoration:underline;
}
.address-text2{
	font-family: "MonstrateMedium";
	font-size:12px;
	color:#fff;
	padding-top:20px;
	padding-bottom:20px;
	float:right;
}
/********************************* Media queries *****************************/

 /* Extra small devices (phones, 600px and down) */
@media only screen
	and (min-device-width : 280px)
	and (max-device-width : 600px){
	
#header-on-the-top{
		display:none;
}


#header-on-the-top-small{
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e1d23;
	display:block;
}

#header_main-small{
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e212a;
	display:block;
}
#logo_box-small{
	width:100px;
	height:100px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	margin-top:20px;
		

}
.logo-small{
	width:90px;
	height:90px;
}
#header_text_box-small{
	width:100%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
	display:block;
}
.header_text1-small{
	font-family: "MonstrateMedium";
	font-size:18px;
	color:#FFF;
	text-align:center;
	padding-top:10px;
	display:block;
	
}
.header_text1-bold-small{
	font-family: "MonstrateBold";
	font-size:18px;
	color:#FFF;
	text-align:center;
	padding-top:10px;
	display:block;
	
}
.header_text2-small{
	font-family: "MonstrateLight";
	font-size:12px;
	color:#FFF;
	text-align:center;
	padding-top:7px;
	display:block;
}
.header_text2-link-small{
	font-family: "MonstrateLight";
	font-size:12px;
	color:#FFF;
	padding-top:7px;
	cursor:pointer;
	padding-bottom:20px;
	text-decoration:none;
	display:block;
}
.header_text2-link-small:hover{
	transition:2s;
	text-decoration:underline;
	
}
/********** navication ***********/
#navication-top{
	min-width: 1200px;
	max-width: 1920px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e1d23;
	display:none;
}
/***navication top small ***/


#navication-top-small{
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	margin-top:20px;
	background-color:#FFF;
	display:block;
}
#navication-small{
	width: 250px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#5775aa;
	
	
}
.nav-link{
	color:#FFF;
	text-decoration:none;
	cursor:pointer;
}

.navbox-small{
	width:250px;
	height:auto;
	background-color:#5775aa;
    display: inline-block;
	
}
.navbox-small:hover{
	
	background-color:#0e1d23;
	transition:0.2s;
}
.navbox-small1{
	width:250px;
	height:auto;
	background-color:#5775aa;
    display: inline-block;
	
}
.navbox2-small{
	float:left;
	width:200px;
	height:auto;
	background-color:#0e1d23;
	border-bottom:solid thin #FFF;
	display:inline-block;
	clear:both;
	margin-left:25px;
	margin-right:25px;
	
}
.navbox2-small:hover{
	background-color:#5775aa;
	
	transition:0.2s;
}
.nav_text-small{
	font-family: "MonstrateRegular";
	font-size:12px;
	color:#FFF;
	padding:10px 20px;
	text-align:center;
}
.dropdown-content-small {
    display: none;
    position: absolute;
    background-color: #5775aa;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0px 0px;
    z-index: 1;
	
	
}
.navbox-small:hover .dropdown-content-small {
    display: block;
	background-color:#0e1d23;
	transition:0.2s;
	
}




/*** navication top small end*****/

/********** body ***********/

#body{
	width:100%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
	
	
}

.left{
	float:left;
	width:100%;
	height:auto;
	overflow: auto;
	
	
}
#slider{
	float:left;
	width:250px;
	height:400px;
	margin-top:20px;
	margin-bottom:20px;
	background:url(map.jpg);
	background-repeat:no-repeat;
	display:none;
}
.left_body_text_base{
	width:100%;
	height:auto;
	overflow:auto;
	 margin-top:20px;
	 
}
#missing-person-box{
	width:800px;
	height:auto;
	float:left;
	overflow:auto;
	display:none;
}
.right{
	float:left;
	width:100%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	
}
#notice{
	float:left;
	width:95%;
	height:auto;
	margin-top:50px;
	margin-bottom:50px;
}
.fb{
	display:none;
}
/****************footer*******************/
#footer_base{
	min-width: 100%;
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e1d23;
	margin-top:50px;
	
}
#footer{
	width: 280px;
	height:auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e1d23;
	
	
	
}
#footer-left{
	width:100%;
	height:auto;
	float:left;
	display:inline-block;
	overflow:auto;
}

#footer-center{
	width:100%;
	height:auto;
	float:left;
	overflow:auto;
}
#footer-right{
	width:100%;
	height:auto;
	float:left;
	display:inline-block;
	overflow:auto;
}
.footer_text1{
	font-family: "MonstrateLight";
	font-size:24px;
	color:#FFF;
	text-align:left;
	margin-top:30px;
	margin-bottom:20px;
	display:block;
	
}
.footer_text1-bold{
	font-family: "MonstrateMedium";
	font-size:24px;
	color:#FFF;
	text-align:left;
	margin-top:30px;
	margin-bottom:20px;

}
.footer_info-text1{
	font-family: "MonstrateRegular";
	font-size:18px;
	color:#fff;
	padding:5px 2px;
	font-weight:bold;
	float:left;
	display:inline-block;
	clear:both;
}
.footer_info-text2{
	font-family: "MonstrateLight";
	width:250px;
	height:auto;
	font-size:14px;
	float:left;
	color:#fff;
	padding:5px 2px; 
	margin-left:10px;
	
}
.social_icons{
	float:left;
	margin-left:10px;
	font-size:36px;
	color:#fff;
	margin-bottom:20px;
	text-decoration:none;
	cursor:pointer;

}
.externalLinks{
	font-family: "MonstrateLight";
	float:left;
	font-size:14px;
	color:#fff;
	margin-bottom:10px;
	text-decoration:none;
	cursor:pointer;

}
.externalLinks:hover{
	transition:0.5s;
	text-decoration:underline;
	

}
.appstorelink{
	text-decoration:none;
}
.appstoreimage{
	width:180px;
	height:50px;
	float:left;
	cursor:pointer;
	clear:both;
	margin-bottom:40px;
	border:solid thin #fff;
	border-radius:10px;
}
.footer_gallery{
	float:left;
	width:275px;
	height:auto;
	border:solid thin #0e1d23;
	margin-bottom:20px;
}
.gallery_image_thumb{
	float:left;
	width:89px;
	height:89px;
	border:solid thin #fff;
}
.newsletter-box{
	width:280px;
	height:auto;
	float:left;
	margin-bottom:30px;
}
.newsletter{
	font-family: "MonstrateMedium";
	font-size:12px;
	width:120px;
	height:auto;
	padding:10px 20px;
	border:solid thin #fff;
	border-radius:5px;
	color:#454545;
	float:left;
	margin-left:5px;
}
.newsletter-push{
	font-family: "MonstrateMedium";
	font-size:12px;
	width:auto;
	height:auto;
	padding:10px 15px;
	border:solid thin #5775aa;
	border-radius:5px;
	color:#fff;
	float:left;
	background-color:#5775aa;
	cursor:pointer;
}
.newsletter-push:hover{
	border:solid thin #5775aa;
	color:#fff;
	background-color:#0e1d23;
	transition:0.5s;
}
#address-bar{
	min-width: 100%;
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e212a;
	
}
.address-main{
	width: 280px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e212a;
	text-align:center;
}
.address-text1{
	font-family: "MonstrateMedium";
	font-size:12px;
	color:#fff;
	padding-top:20px;
	padding-bottom:20px;
	float:none;
}
.address_link{
	color:#3659A2;
	text-decoration:none;
}
.address_link:hover{
	color:#3659A2;
	text-decoration:underline;
}
.address-text2{
	font-family: "MonstrateMedium";
	font-size:12px;
	color:#fff;
	padding-top:0px;
	padding-bottom:20px;
	float:none;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen
	and (min-device-width : 600px)
	and (max-device-width : 768px){
	
#header-on-the-top{
		display:none;
}


#header-on-the-top-small{
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e1d23;
	display:block;
}

#header_main-small{
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e212a;
	display:block;
}
#logo_box-small{
	width:100px;
	height:100px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	margin-top:20px;
		

}
.logo-small{
	width:90px;
	height:90px;
}
#header_text_box-small{
	width:100%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
	display:block;
}
.header_text1-small{
	font-family: "MonstrateMedium";
	font-size:18px;
	color:#FFF;
	text-align:center;
	padding-top:10px;
	display:block;
	
}
.header_text1-bold-small{
	font-family: "MonstrateBold";
	font-size:18px;
	color:#FFF;
	text-align:center;
	padding-top:10px;
	display:block;
	
}
.header_text2-small{
	font-family: "MonstrateLight";
	font-size:12px;
	color:#FFF;
	text-align:center;
	padding-top:7px;
	display:block;
}
.header_text2-link-small{
	font-family: "MonstrateLight";
	font-size:12px;
	color:#FFF;
	padding-top:7px;
	cursor:pointer;
	padding-bottom:20px;
	text-decoration:none;
	display:block;
}
.header_text2-link-small:hover{
	transition:2s;
	text-decoration:underline;
	
}
/********** navication ***********/
#navication-top{
	min-width: 1200px;
	max-width: 1920px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e1d23;
	display:none;
}
/***navication top small ***/


#navication-top-small{
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	margin-top:20px;
	background-color:#FFF;
	display:block;
}
#navication-small{
	width: 250px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#5775aa;
	
	
}
.nav-link{
	color:#FFF;
	text-decoration:none;
	cursor:pointer;
}

.navbox-small{
	width:250px;
	height:auto;
	background-color:#5775aa;
    display: inline-block;
	
}
.navbox-small:hover{
	
	background-color:#0e1d23;
	transition:0.2s;
}
.navbox-small1{
	width:250px;
	height:auto;
	background-color:#5775aa;
    display: inline-block;
	
}
.navbox2-small{
	float:left;
	width:200px;
	height:auto;
	background-color:#0e1d23;
	border-bottom:solid thin #FFF;
	display:inline-block;
	clear:both;
	margin-left:25px;
	margin-right:25px;
	
}
.navbox2-small:hover{
	background-color:#5775aa;
	
	transition:0.2s;
}
.nav_text-small{
	font-family: "MonstrateRegular";
	font-size:12px;
	color:#FFF;
	padding:10px 20px;
	text-align:center;
}
.dropdown-content-small {
    display: none;
    position: absolute;
    background-color: #5775aa;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0px 0px;
    z-index: 1;
	
	
}
.navbox-small:hover .dropdown-content-small {
    display: block;
	background-color:#0e1d23;
	transition:0.2s;
	
}




/*** navication top small end*****/

/********** body ***********/

#body{
	width:100%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
	
	
}
.left{
	float:left;
	width:100%;
	height:auto;
	overflow: auto;
	
	
}
#slider{
	float:none;
	width:600px;
	height:300px;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	background:url(map.jpg);
	background-size:contain;
	background-repeat:no-repeat;
	display:block;
}
.left_body_text_base{
	width:100%;
	height:auto;
	overflow:auto;
	 margin-top:20px;
	 
}
#missing-person-box{
	width:100%;
	height:auto;
	float:left;
	overflow:auto;
	display:block;
}
.right{
	float:left;
	width:100%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	
}
#notice{
	float:left;
	width:95%;
	height:auto;
	margin-top:50px;
	margin-bottom:50px;
}
.fb{
	display:none;
}
/****************footer*******************/
#footer_base{
	min-width: 100%;
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e1d23;
	margin-top:50px;
	
}
#footer{
	width: 280px;
	height:auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e1d23;
	
	
	
}
#footer-left{
	width:100%;
	height:auto;
	float:left;
	display:inline-block;
	overflow:auto;
}

#footer-center{
	width:100%;
	height:auto;
	float:left;
	overflow:auto;
}
#footer-right{
	width:100%;
	height:auto;
	float:left;
	display:inline-block;
	overflow:auto;
}
.footer_text1{
	font-family: "MonstrateLight";
	font-size:24px;
	color:#FFF;
	text-align:left;
	margin-top:30px;
	margin-bottom:20px;
	display:block;
	
}
.footer_text1-bold{
	font-family: "MonstrateMedium";
	font-size:24px;
	color:#FFF;
	text-align:left;
	margin-top:30px;
	margin-bottom:20px;

}
.footer_info-text1{
	font-family: "MonstrateRegular";
	font-size:18px;
	color:#fff;
	padding:5px 2px;
	font-weight:bold;
	float:left;
	display:inline-block;
	clear:both;
}
.footer_info-text2{
	font-family: "MonstrateLight";
	width:250px;
	height:auto;
	font-size:14px;
	float:left;
	color:#fff;
	padding:5px 2px; 
	margin-left:10px;
	
}
.social_icons{
	float:left;
	margin-left:10px;
	font-size:36px;
	color:#fff;
	margin-bottom:20px;
	text-decoration:none;
	cursor:pointer;

}
.externalLinks{
	font-family: "MonstrateLight";
	float:left;
	font-size:14px;
	color:#fff;
	margin-bottom:10px;
	text-decoration:none;
	cursor:pointer;

}
.externalLinks:hover{
	transition:0.5s;
	text-decoration:underline;
	

}
.appstorelink{
	text-decoration:none;
}
.appstoreimage{
	width:180px;
	height:50px;
	float:left;
	cursor:pointer;
	clear:both;
	margin-bottom:40px;
	border:solid thin #fff;
	border-radius:10px;
}
.footer_gallery{
	float:left;
	width:275px;
	height:auto;
	border:solid thin #0e1d23;
	margin-bottom:20px;
}
.gallery_image_thumb{
	float:left;
	width:89px;
	height:89px;
	border:solid thin #fff;
}
.newsletter-box{
	width:280px;
	height:auto;
	float:left;
	margin-bottom:30px;
}
.newsletter{
	font-family: "MonstrateMedium";
	font-size:12px;
	width:120px;
	height:auto;
	padding:10px 20px;
	border:solid thin #fff;
	border-radius:5px;
	color:#454545;
	float:left;
	margin-left:5px;
}
.newsletter-push{
	font-family: "MonstrateMedium";
	font-size:12px;
	width:auto;
	height:auto;
	padding:10px 15px;
	border:solid thin #5775aa;
	border-radius:5px;
	color:#fff;
	float:left;
	background-color:#5775aa;
	cursor:pointer;
}
.newsletter-push:hover{
	border:solid thin #5775aa;
	color:#fff;
	background-color:#0e1d23;
	transition:0.5s;
}
#address-bar{
	min-width: 100%;
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e212a;
	
}
.address-main{
	width: 280px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e212a;
	text-align:center;
}
.address-text1{
	font-family: "MonstrateMedium";
	font-size:12px;
	color:#fff;
	padding-top:20px;
	padding-bottom:20px;
	float:none;
}
.address_link{
	color:#3659A2;
	text-decoration:none;
}
.address_link:hover{
	color:#3659A2;
	text-decoration:underline;
}
.address-text2{
	font-family: "MonstrateMedium";
	font-size:12px;
	color:#fff;
	padding-top:0px;
	padding-bottom:20px;
	float:none;
}
}




/* Medium devices (landscape tablets, 768px and up) */
@media only screen
	and (min-device-width : 768px)
	and (max-device-width : 992px){
	
#header-on-the-top{
		display:none;
}


#header-on-the-top-small{
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e1d23;
	display:block;
}

#header_main-small{
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e212a;
	display:block;
}
#logo_box-small{
	width:100px;
	height:100px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	margin-top:20px;
		

}
.logo-small{
	width:90px;
	height:90px;
}
#header_text_box-small{
	width:100%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
	display:block;
}
.header_text1-small{
	font-family: "MonstrateMedium";
	font-size:18px;
	color:#FFF;
	text-align:center;
	padding-top:10px;
	display:block;
	
}
.header_text1-bold-small{
	font-family: "MonstrateBold";
	font-size:18px;
	color:#FFF;
	text-align:center;
	padding-top:10px;
	display:block;
	
}
.header_text2-small{
	font-family: "MonstrateLight";
	font-size:12px;
	color:#FFF;
	text-align:center;
	padding-top:7px;
	display:block;
}
.header_text2-link-small{
	font-family: "MonstrateLight";
	font-size:12px;
	color:#FFF;
	padding-top:7px;
	cursor:pointer;
	padding-bottom:20px;
	text-decoration:none;
	display:block;
}
.header_text2-link-small:hover{
	transition:2s;
	text-decoration:underline;
	
}
/********** navication ***********/
#navication-top{
	min-width: 1200px;
	max-width: 1920px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e1d23;
	display:none;
}
/***navication top small ***/


#navication-top-small{
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	margin-top:20px;
	background-color:#FFF;
	display:block;
}
#navication-small{
	width: 250px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#5775aa;
	
	
}
.nav-link{
	color:#FFF;
	text-decoration:none;
	cursor:pointer;
}

.navbox-small{
	width:250px;
	height:auto;
	background-color:#5775aa;
    display: inline-block;
	
}
.navbox-small:hover{
	
	background-color:#0e1d23;
	transition:0.2s;
}
.navbox-small1{
	width:250px;
	height:auto;
	background-color:#5775aa;
    display: inline-block;
	
}
.navbox2-small{
	float:left;
	width:200px;
	height:auto;
	background-color:#0e1d23;
	border-bottom:solid thin #FFF;
	display:inline-block;
	clear:both;
	margin-left:25px;
	margin-right:25px;
	
}
.navbox2-small:hover{
	background-color:#5775aa;
	
	transition:0.2s;
}
.nav_text-small{
	font-family: "MonstrateRegular";
	font-size:12px;
	color:#FFF;
	padding:10px 20px;
	text-align:center;
}
.dropdown-content-small {
    display: none;
    position: absolute;
    background-color: #5775aa;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0px 0px;
    z-index: 1;
	
	
}
.navbox-small:hover .dropdown-content-small {
    display: block;
	background-color:#0e1d23;
	transition:0.2s;
	
}




/*** navication top small end*****/

/********** body ***********/

#body{
	width:100%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
	
	
}
.left{
	float:left;
	width:100%;
	height:auto;
	overflow: auto;
	
	
}
#slider{
	float:none;
	width:600px;
	height:300px;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	background:url(map.jpg);
	background-size:contain;
	background-repeat:no-repeat;
	display:block;
}
.left_body_text_base{
	width:100%;
	height:auto;
	overflow:auto;
	 margin-top:20px;
	 
}
#missing-person-box{
	width:100%;
	height:auto;
	float:left;
	overflow:auto;
	display:block;
}
.right{
	float:left;
	width:100%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	
}
#notice{
	float:left;
	width:100%;
	height:auto;
	margin-top:50px;
	margin-bottom:50px;
}
.important_info{
	width:100%;
	height:auto;
	
	overflow:auto;
}
.fb{
	display:none;
}
/****************footer*******************/
#footer_base{
	min-width: 100%;
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e1d23;
	margin-top:50px;
	
}
#footer{
	width: 768px;
	height:auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e1d23;
	
	
	
	
}
#footer-left{
	width:240px;
	height:auto;
	float:left;
	display:inline-block;
	overflow:auto;
	
}

#footer-center{
	width:240px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
}
#footer-right{
	width:280px;
	height:auto;
	float:right;
	display:inline-block;
	overflow:auto;
}
.footer_text1{
	font-family: "MonstrateLight";
	font-size:24px;
	color:#FFF;
	text-align:left;
	margin-top:30px;
	margin-bottom:20px;
	display:block;
	
}
.footer_text1-bold{
	font-family: "MonstrateMedium";
	font-size:24px;
	color:#FFF;
	text-align:left;
	margin-top:30px;
	margin-bottom:20px;

}
.footer_info-text1{
	font-family: "MonstrateRegular";
	font-size:18px;
	color:#fff;
	padding:5px 2px;
	font-weight:bold;
	float:left;
	display:inline-block;
	clear:both;
	
}
.footer_info-text2{
	font-family: "MonstrateLight";
	width:190px;
	height:auto;
	font-size:14px;
	float:left;
	color:#fff;
	padding:5px 2px; 
	margin-left:10px;
	
}
.social_icons{
	float:left;
	margin-left:10px;
	font-size:36px;
	color:#fff;
	margin-bottom:20px;
	text-decoration:none;
	cursor:pointer;

}
.externalLinks{
	font-family: "MonstrateLight";
	float:left;
	font-size:14px;
	color:#fff;
	margin-bottom:10px;
	text-decoration:none;
	cursor:pointer;

}
.externalLinks:hover{
	transition:0.5s;
	text-decoration:underline;
	

}
.appstorelink{
	text-decoration:none;
}
.appstoreimage{
	width:180px;
	height:50px;
	float:left;
	cursor:pointer;
	clear:both;
	margin-bottom:40px;
	border:solid thin #fff;
	border-radius:10px;
}
.footer_gallery{
	float:left;
	width:275px;
	height:auto;
	border:solid thin #0e1d23;
	margin-bottom:20px;
}
.gallery_image_thumb{
	float:left;
	width:89px;
	height:89px;
	border:solid thin #fff;
}
.newsletter-box{
	width:280px;
	height:auto;
	float:left;
	margin-bottom:30px;
}
.newsletter{
	font-family: "MonstrateMedium";
	font-size:12px;
	width:120px;
	height:auto;
	padding:10px 20px;
	border:solid thin #fff;
	border-radius:5px;
	color:#454545;
	float:left;
	margin-left:5px;
}
.newsletter-push{
	font-family: "MonstrateMedium";
	font-size:12px;
	width:auto;
	height:auto;
	padding:10px 15px;
	border:solid thin #5775aa;
	border-radius:5px;
	color:#fff;
	float:left;
	background-color:#5775aa;
	cursor:pointer;
}
.newsletter-push:hover{
	border:solid thin #5775aa;
	color:#fff;
	background-color:#0e1d23;
	transition:0.5s;
}
#address-bar{
	min-width: 100%;
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e212a;
	
}
.address-main{
	width: 280px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e212a;
	text-align:center;
}
.address-text1{
	font-family: "MonstrateMedium";
	font-size:12px;
	color:#fff;
	padding-top:20px;
	padding-bottom:20px;
	float:none;
}
.address_link{
	color:#3659A2;
	text-decoration:none;
}
.address_link:hover{
	color:#3659A2;
	text-decoration:underline;
}
.address-text2{
	font-family: "MonstrateMedium";
	font-size:12px;
	color:#fff;
	padding-top:0px;
	padding-bottom:20px;
	float:none;
}
}





/* Medium devices (landscape tablets, 768px and up) */
@media only screen
	and (min-device-width : 992px)
	and (max-device-width : 1200px){
	
#header-on-the-top{
		display:none;
}


#header-on-the-top-small{
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e1d23;
	display:block;
}

#header_main-small{
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e212a;
	display:block;
}
#logo_box-small{
	width:100px;
	height:100px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	margin-top:20px;
		

}
.logo-small{
	width:90px;
	height:90px;
}
#header_text_box-small{
	width:100%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
	display:block;
}
.header_text1-small{
	font-family: "MonstrateMedium";
	font-size:18px;
	color:#FFF;
	text-align:center;
	padding-top:10px;
	display:block;
	
}
.header_text1-bold-small{
	font-family: "MonstrateBold";
	font-size:18px;
	color:#FFF;
	text-align:center;
	padding-top:10px;
	display:block;
	
}
.header_text2-small{
	font-family: "MonstrateLight";
	font-size:12px;
	color:#FFF;
	text-align:center;
	padding-top:7px;
	display:block;
}
.header_text2-link-small{
	font-family: "MonstrateLight";
	font-size:12px;
	color:#FFF;
	padding-top:7px;
	cursor:pointer;
	padding-bottom:20px;
	text-decoration:none;
	display:block;
}
.header_text2-link-small:hover{
	transition:2s;
	text-decoration:underline;
	
}
/********** navication ***********/
#navication-top{
	min-width: 100%;
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e1d23;
	display:none;
}
/***navication top small ***/


#navication-top-small{
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	margin-top:20px;
	background-color:#FFF;
	display:block;
}
#navication-small{
	width: 250px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#5775aa;
	
	
}
.nav-link{
	color:#FFF;
	text-decoration:none;
	cursor:pointer;
}

.navbox-small{
	width:250px;
	height:auto;
	background-color:#5775aa;
    display: inline-block;
	
}
.navbox-small:hover{
	
	background-color:#0e1d23;
	transition:0.2s;
}
.navbox-small1{
	width:250px;
	height:auto;
	background-color:#5775aa;
    display: inline-block;
	
}
.navbox2-small{
	float:left;
	width:200px;
	height:auto;
	background-color:#0e1d23;
	border-bottom:solid thin #FFF;
	display:inline-block;
	clear:both;
	margin-left:25px;
	margin-right:25px;
	
}
.navbox2-small:hover{
	background-color:#5775aa;
	
	transition:0.2s;
}
.nav_text-small{
	font-family: "MonstrateRegular";
	font-size:12px;
	color:#FFF;
	padding:10px 20px;
	text-align:center;
}
.dropdown-content-small {
    display: none;
    position: absolute;
    background-color: #5775aa;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0px 0px;
    z-index: 1;
	
	
}
.navbox-small:hover .dropdown-content-small {
    display: block;
	background-color:#0e1d23;
	transition:0.2s;
	
}




/*** navication top small end*****/

/********** body ***********/

#body{
	width:100%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
	
	
}
.left{
	float:left;
	width:62%;
	height:auto;
	overflow: auto;

	
	
}
#slider{
	float:none;
	width:600px;
	height:300px;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	background:url(map.jpg);
	background-size:contain;
	background-repeat:no-repeat;
	display:block;
}
.left_body_text_base{
	width:100%;
	height:auto;
	overflow:auto;
	 margin-top:20px;
	 
}
#missing-person-box{
	width:100%;
	height:auto;
	float:left;
	overflow:auto;
	display:block;
}
.right{
	float:right;
	width:350px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	
}
#notice{
	float:left;
	width:100%;
	height:auto;
	margin-top:20px;
	margin-bottom:50px;
}
.important_info{
	width:100%;
	height:auto;
	
	overflow:auto;
}
.fb{
	display:block;
}
/****************footer*******************/
#footer_base{
	min-width: 100%;
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e1d23;
	margin-top:50px;
	
}
#footer{
	width: 768px;
	height:auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e1d23;
	
	
	
	
}
#footer-left{
	width:240px;
	height:auto;
	float:left;
	display:inline-block;
	overflow:auto;
	
}

#footer-center{
	width:240px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
}
#footer-right{
	width:280px;
	height:auto;
	float:right;
	display:inline-block;
	overflow:auto;
}
.footer_text1{
	font-family: "MonstrateLight";
	font-size:24px;
	color:#FFF;
	text-align:left;
	margin-top:30px;
	margin-bottom:20px;
	display:block;
	
}
.footer_text1-bold{
	font-family: "MonstrateMedium";
	font-size:24px;
	color:#FFF;
	text-align:left;
	margin-top:30px;
	margin-bottom:20px;

}
.footer_info-text1{
	font-family: "MonstrateRegular";
	font-size:18px;
	color:#fff;
	padding:5px 2px;
	font-weight:bold;
	float:left;
	display:inline-block;
	clear:both;
	
}
.footer_info-text2{
	font-family: "MonstrateLight";
	width:190px;
	height:auto;
	font-size:14px;
	float:left;
	color:#fff;
	padding:5px 2px; 
	margin-left:10px;
	
}
.social_icons{
	float:left;
	margin-left:10px;
	font-size:36px;
	color:#fff;
	margin-bottom:20px;
	text-decoration:none;
	cursor:pointer;

}
.externalLinks{
	font-family: "MonstrateLight";
	float:left;
	font-size:14px;
	color:#fff;
	margin-bottom:10px;
	text-decoration:none;
	cursor:pointer;

}
.externalLinks:hover{
	transition:0.5s;
	text-decoration:underline;
	

}
.appstorelink{
	text-decoration:none;
}
.appstoreimage{
	width:180px;
	height:50px;
	float:left;
	cursor:pointer;
	clear:both;
	margin-bottom:40px;
	border:solid thin #fff;
	border-radius:10px;
}
.footer_gallery{
	float:left;
	width:275px;
	height:auto;
	border:solid thin #0e1d23;
	margin-bottom:20px;
}
.gallery_image_thumb{
	float:left;
	width:89px;
	height:89px;
	border:solid thin #fff;
}
.newsletter-box{
	width:280px;
	height:auto;
	float:left;
	margin-bottom:30px;
}
.newsletter{
	font-family: "MonstrateMedium";
	font-size:12px;
	width:120px;
	height:auto;
	padding:10px 20px;
	border:solid thin #fff;
	border-radius:5px;
	color:#454545;
	float:left;
	margin-left:5px;
}
.newsletter-push{
	font-family: "MonstrateMedium";
	font-size:12px;
	width:auto;
	height:auto;
	padding:10px 15px;
	border:solid thin #5775aa;
	border-radius:5px;
	color:#fff;
	float:left;
	background-color:#5775aa;
	cursor:pointer;
}
.newsletter-push:hover{
	border:solid thin #5775aa;
	color:#fff;
	background-color:#0e1d23;
	transition:0.5s;
}
#address-bar{
	min-width: 100%;
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e212a;
	
}
.address-main{
	width: 280px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color:#0e212a;
	text-align:center;
}
.address-text1{
	font-family: "MonstrateMedium";
	font-size:12px;
	color:#fff;
	padding-top:20px;
	padding-bottom:20px;
	float:none;
}
.address_link{
	color:#3659A2;
	text-decoration:none;
}
.address_link:hover{
	color:#3659A2;
	text-decoration:underline;
}
.address-text2{
	font-family: "MonstrateMedium";
	font-size:12px;
	color:#fff;
	padding-top:0px;
	padding-bottom:20px;
	float:none;
}
}





