<!DOCTYPE html>
<html>
    <head>
        <style>
            table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            }

            td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            }
        </style>
    </head>
    <body>
        <h1 style="font-family: sans-serif; font-weight: bolder; margin-bottom: 30px; text-align: center;">Izzy Health</h1>
        <h3 style="border-bottom: 2px solid black;">{{ doc_name }}</h3>
        <table style="width: 100%; margin-bottom: 20px;">
            <tr>
                <td><span style="font-weight: bolder;">Patient Name: </span> <span>{{ pat_name }}</span></td>
                <td><span style="font-weight: bolder;">Age: </span> <span>{{ pat_age }} Years</span></td>
            </tr>
        </table>
        <table style="width: 100%; margin-bottom: 20px;">
            <tr>
                <th>Medications</th>
                <th>Dosages</th>
            </tr>
            {% for med in meds %}
                <tr>
                    <td>{{ med.name }}</td>
                    <td>{{ med.dosage }}</td>
                </tr>
            {% endfor %}
        </table>
        <table style="width: 100%; margin-bottom: 20px;">
            <tr>
                <td><img src="{{ signature }}" style="height: 50px; border-bottom: 1px solid black;"><span style="display: block; font-weight: bolder;">Physician Signature</span></td>
                <td style="vertical-align: bottom;"><span style="display: block; text-decoration: underline;">{{ date }}</span><span style="display: block; font-weight: bolder;">Date</span></td>
            </tr>
        </table>
    </body>
</html>