{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block title %}Izzy Care Admin Dashboard{% endblock %}
{% block content %}
<div class="content-wrapper">
    <section class="content-header">
      <h1>
        Dashboard
        <small>Status of Izzy so far</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>
    <section class="content container-fluid">
        
        
        <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-globe"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Total Registrations</span>
              <span class="info-box-number">{{ total_registrations|intcomma }}</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-info-circle"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Scheduled Appointments</span>
              <span class="info-box-number">{{ total_appointments|intcomma }}</span>
            </div>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-upload"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Total Care Teams</span>
              <span class="info-box-number">{{ total_care_teams|intcomma }}</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Today's Visitors</span>
              <span class="info-box-number">2,000</span>
            </div>
          </div>
        </div>
      </div>
          <div class="box box-primary">
            <div class="box-header with-border">
              <i class="fa fa-bar-chart-o"></i>

              <h3 class="box-title">Izzy Database Status</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
              <div id="donut-chart" style="height: 300px;"></div>
            </div>
          </div>
    </section>
  </div>
{% endblock %}