{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Izzy Admin - Add New Doctor{% endblock %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Upload
        <small>Add New Doctor</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li >Upload</li>
        <li class="active">Add New Doctor</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <!--------------------------
        | Your Page Content Here |
        -------------------------->
            <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-3">
          

          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Upload</h3>

              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body no-padding">
              <ul class="nav nav-pills nav-stacked">
                <li ><a href="#"><i class="fa fa-link"></i> Add New Country
                 </a></li>
                <li><a href="upload_patient.html"><i class="fa fa-link"></i> Add New Patient</a></li>
                <li class="active"><a href="#"><i class="fa fa-link"></i> Add New Doctor</a></li>
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /. box -->
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">View Uploaded Data</h3>

              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body no-padding">
              <ul class="nav nav-pills nav-stacked">
                <li><a href="view_country_list.html"><i class="fa fa-circle-o text-light-black"></i> View Country List</a></li>
                <li><a href="view_doctor_list.html"><i class="fa fa-circle-o text-light-blue"></i> View Doctor List</a></li>
                <li><a href="view_patient_list.html"><i class="fa fa-circle-o text-light-black"></i> View Patient List</a></li>
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Uploading Form</h3>

              <div class="box-tools pull-right">
                <div class="has-feedback">
                  
                 
                </div>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="mailbox-controls">
                <!-- Check all button -->
                <!-- /.pull-right -->
              </div>
              <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped">
                  <tbody>
               <form role="form" method="POST" enctype="multipart/form-data" action="{% url 'izzyadmin:doctor-create' %}">
                  {% if user_form.non_field_errors %}
                  <ul>
                    {% for err in user_form.non_field_errors %}
                    <li>{{ err }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %}
              <div class="box-body">
              {% if user_form.first_name.errors %}
              <ul>
                {% for err in user_form.first_name.errors %}
                <li>{{ err }}</li>
                {% endfor %}
              </ul>
              {% endif %}
              <div class="form-group">
                  <label>First name</label>
                  <input type="text" class="form-control" name="first_name" placeholder="Enter First name" value="{% if user_form.first_name.data != None %}{{ user_form.first_name.data }}{% endif %}">
                </div>
              {% if user_form.last_name.errors %}
                <ul>
                  {% for err in user_form.last_name.errors %}
                  <li>{{ err }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" class="form-control" name="last_name" placeholder="Enter Last Name" value="{% if user_form.last_name.data != None %}{{ user_form.last_name.data }}{% endif %}">
                </div>
                {% if user_form.email.errors %}
                <ul>
                  {% for err in user_form.email.errors %}
                  <li>{{ err }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control" name="email" placeholder="Enter Email Address" value="{% if user_form.email.data != None %}{{ user_form.email.data }}{% endif %}">
                </div>
                {% if user_form.password1.errors %}
                <ul>
                  {% for err in user_form.password1.errors %}
                  <li>{{ err }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" name="password1" placeholder="Enter Password" value="{% if user_form.password1.data != None %}{{ user_form.password1.data }}{% endif %}">
                </div>
                {% if user_form.password2.errors %}
                <ul>
                  {% for err in user_form.password2.errors %}
                  <li>{{ err }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
                <div class="form-group">
                  <label>Confirm Password</label>
                  <input type="password" class="form-control" name="password2" placeholder="Confirm password" value="{% if user_form.password2.data != None %}{{ user_form.password2.data }}{% endif %}">
                </div>
                {% if care_doctor_form.gender.errors %}
                <ul>
                  {% for err in care_doctor_form.gender.errors %}
                  <li>{{ err }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              <div class="form-group">
                  <label>Select Gender</label>
                  {{ care_doctor_form.gender }}
                </div>
                {% if care_doctor_form.age.errors %}
                <ul>
                  {% for err in care_doctor_form.age.errors %}
                  <li>{{ err }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
                <div class="form-group">
                  <label>Age</label>
                  <input type="number" class="form-control" name="age" placeholder="Enter Age" value="{% if care_doctor_form.age.data != None %}{{ care_doctor_form.age.data }}{% endif %}">
                </div>
                {% if care_doctor_form.address.errors %}
                <ul>
                  {% for err in address.gender.errors %}
                  <li>{{ err }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" name="address" placeholder="Enter Address" value="{% if care_doctor_form.address.data != None %}{{ care_doctor_form.address.data }}{% endif %}">
                  </div>
                {% if care_doctor_form.country.errors %}
                <ul>
                  {% for err in care_doctor_form.country.errors %}
                  <li>{{ err }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
                <div class="form-group">
                  <label>Select Country</label>
                  {{ care_doctor_form.country }}
                </div>
                {% if care_doctor_form.state.errors %}
                <ul>
                  {% for err in care_doctor_form.state.errors %}
                  <li>{{ err }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
                <div class="form-group">
                  <label>Select State</label>
                  {{ care_doctor_form.state }}
                </div>
                {% if care_doctor_form.phone.errors %}
                <ul>
                  {% for err in care_doctor_form.phone.errors %}
                  <li>{{ err }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
                <div class="form-group">
                    <label>Phone</label>
                    <input type="text" class="form-control" name="phone" placeholder="Enter Phone Number" value="{% if care_doctor_form.phone.data != None %}{{ care_doctor_form.phone.data }}{% endif %}">
                  </div>
                  {% if care_doctor_form.bio.errors %}
                  <ul>
                    {% for err in care_doctor_form.bio.errors %}
                    <li>{{ err }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                <div class="form-group">
                  <label>Bio Summary</label>
                  <textarea class="form-control" rows="3" placeholder="Not More than 5000 characters" name="bio" value="{% if care_doctor_form.bio.data != None %}{{ care_doctor_form.bio.data }}{% endif %}"></textarea>
                </div>
                
               <div class="form-group">
                  <label for="exampleInputFile">Upload Profile Picture</label>
                  {{ care_doctor_form.prof_pic }}

                  <p class="help-block">Please Upload Picture. Must be in .JPG format less than 500 Kb</p>
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Add Doctor</button>
              </div>
            </form>
                  </tbody>
                </table>
                <!-- /.table -->
              </div>
              <!-- /.mail-box-messages -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer no-padding">
              
            </div>
          </div>
          <!-- /. box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
    </section>
    <!-- /.content -->
  </div>
{% endblock %}