{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Izzy Admin - List Doctors View{% endblock %}
{% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      View
      <small>Doctor List</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li >View</li>
      <li class="active">Doctor List</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content container-fluid">
    <!--------------------------
      | Your Page Content Here |
      -------------------------->
          <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-3">
        <div class="box box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">View Uploaded Data</h3>

            <div class="box-tools">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body no-padding">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="view_country_list.html"><i class="fa fa-circle-o text-light-black"></i> View Country List</a></li>
              <li><a href="view_doctor_list.html"><i class="fa fa-circle-o text-light-blue"></i> View Doctor List</a></li>
              <li><a href="view_patient_list.html"><i class="fa fa-circle-o text-light-black"></i> View Patient List</a></li>
            </ul>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->

        <div class="box box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">Upload</h3>

            <div class="box-tools">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body no-padding">
            <ul class="nav nav-pills nav-stacked">
              <li ><a href="upload_country.html"><i class="fa fa-link"></i> Add New Country
               </a></li>
              <li> <a href="upload_patient.html"><i class="fa fa-link"></i> Add New Patient</a></li>
              <li ><a href="upload_doctor.html"><i class="fa fa-link"></i> Add New Doctor</a></li>
            </ul>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /. box -->
        
      </div>
      <!-- /.col -->
      <div class="col-md-9">
      <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Full Doctor List </h3>

            <div class="box-tools pull-right">
              <div class="has-feedback">
                <input type="text" class="form-control input-sm" placeholder="Search Patient">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </div>
            <!-- /.box-tools -->
          </div>
          <!-- /.box-header -->
          <div class="box-body no-padding">
            <div class="mailbox-controls">
              <!-- Check all button -->
              <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
              </button>
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
              </div>
              <!-- /.btn-group -->
              <a type="button" class="btn btn-default btn-sm" href="."><i class="fa fa-refresh"></i></a>
              <div class="pull-right">
                  {{ doctors.start_index }}-{{ doctors.end_index }}/{{ doctors.paginator.count }} 
                <div class="btn-group">
                    {% if doctors.has_previous %}
                    <button type="button" class="btn btn-default btn-sm" href="?page={{ doctors.previous_page_number }}"></button>><i class="fa fa-chevron-left"></i></button>
                    {% else %}
                    <button type="button" class="btn btn-default btn-sm" disabled><i class="fa fa-chevron-left"></i></button>
                    {% endif %}
                    {% if doctors.has_next %}
                    <button type="button" class="btn btn-default btn-sm" href="?page={{ doctors.next_page_number }}"></button>><i class="fa fa-chevron-right"></i></button>
                    {% else %}
                    <button type="button" class="btn btn-default btn-sm" disabled><i class="fa fa-chevron-right"></i></button>
                    {% endif %}
                </div>
                <!-- /.btn-group -->
              </div>
              <!-- /.pull-right -->
            </div>
            <div class="table-responsive mailbox-messages">
              <table class="table table-hover table-striped">
                <tbody>
                  {% for doc in doctors %}
                  <tr>
                    <td><input type="checkbox"></td>
                    
                    <td class="mailbox-name"><a href="doctor_details.html">{{ doc.contact_profile.get_full_name }}</a></td>
                    <td class="mailbox-subject"><b>Email:</b> {{ doc.user.email }}
                    </td>
                    <td class="mailbox-subject"><b>Contact:</b> +91-{{ doc.phone }}
                    </td>
                  </tr>
                  {% endfor %}
                
                </tbody>
              </table>
              <!-- /.table -->
            </div>
            <!-- /.mail-box-messages -->
          </div>
          <!-- /.box-body -->
          <div class="box-footer no-padding">
            <div class="mailbox-controls">
              <!-- Check all button -->
              <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
              </button>
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
              </div>
              <!-- /.btn-group -->
              <a type="button" class="btn btn-default btn-sm" href="."><i class="fa fa-refresh"></i></a>
              <div class="pull-right">
                {{ doctors.start_index }}-{{ doctors.end_index }}/{{ doctors.paginator.count }} 
                <div class="btn-group">
                  {% if doctors.has_previous %}
                  <a type="button" class="btn btn-default btn-sm" href="?page={{ doctors.previous_page_number }}"><i class="fa fa-chevron-left"></i></a>
                  {% else %}
                  <a type="button" class="btn btn-default btn-sm" disabled><i class="fa fa-chevron-left"></i></a>
                  {% endif %}
                  {% if doctors.has_next %}
                  <a type="button" class="btn btn-default btn-sm" href="?page={{ doctors.next_page_number }}"></a>><i class="fa fa-chevron-right"></i></a>
                  {% else %}
                  <a type="button" class="btn btn-default btn-sm" disabled><i class="fa fa-chevron-right"></i></a>
                  {% endif %}
                </div>
                <!-- /.btn-group -->
              </div>
              <!-- /.pull-right -->
            </div>
          </div>
        </div>
        <!-- /. box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
  </section>
  <!-- /.content -->
</div>
{% endblock %}